.section {
    padding: 1.5rem;
  }
  
  .add-new {
    z-index: 10000;
    position: fixed;
    bottom: 0;
    background: gainsboro;
    padding: 1rem;
    width: 100%;
  }
  .add-new > * {
    display: block;
    max-width: 800px;
    margin: auto;
  }
  
  fieldset {
    padding: 0 1rem 1rem;
  }
  
  .level {
    margin-top: 1rem;
    align-items: stretch;
  }
  
  .level-item {
    flex-shrink: 1;
    flex-basis: 0;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .level button {
    height: calc(100% - 8px);
    margin-top: 8px;
    margin-bottom: 0;
  }
  